// Your custom SCSS should be written here...
$home-title-border-color: #4781c7;
$home-title-border-right: 1px #dbe6f4 solid;
$home-title-color: #30619c;
$home-font-size: 75%;
$home-legend-color: #0080C0;
$home-legend-background: #638DBC;
$home-fieldset-background: #C6E3F9;
$stored-barcode-background: $home-fieldset-background;
$home-fieldset-height: 18.5em;
$home-dark-text: #555;
$home-line-height: 5px;
$home-printline-colour: #888;
$home-printline-border: 1px $home-title-border-color dotted;
$sample-background: #ccc;

home_page .titles, .printline {
	display: inline-block;
	color: $home-title-color;
	padding-bottom: 0;
	v-align: center;
	font-size: $home-font-size;
}

home_page legend {
	margin-top: -14px;
	margin-bottom: -16px;
	color: $home-legend-color;
	@include text-shadow(1px 1px 1px rgba(0, 0, 0, 0.15));
}

home_page fieldset {
	background-color: $home-fieldset-background;
	height: $home-fieldset-height;
	@include box-shadow( 0 2px 4px rgba(0, 0, 0, 0.15));
	@include background(linear-gradient(to bottom, $home-fieldset-background 10%, lighten($home-fieldset-background, 5%) 100%));
}

home_page p {
	color: $home-dark-text;
	font-size: $home-font-size;
}

home_page .line {
	border: 0;
	color: $home-title-border-color;
	background-color: $home-title-border-color;
	height: $home-line-height;
}

home_page .printline {
	clear: right;
	color: $home-printline-colour;
	min-width: 8em;
	border-bottom: $home-printline-border;
}
/* DATE PICKER z-index hack */
.ui-datepicker{
	z-index: 9999 !important;
}

/* PAGE - FOOTER SETTINGS */

$footer-font-family: "Arial Narrow", Gadget, sans-serif;
$footer-image:  transparent url('../images/platforms.png') no-repeat top right;
$footer-copy-colour: #004477;
$footer-gradient-from: #616c75;
$footer-gradient-to: #343c43;
$gf: $footer-gradient-from;
$gt: $footer-gradient-to;

.footer {
	/*position: absolute;
	bottom: 2.5em;*/
	width:100%;
	filter: none;
	height: 6em;
	background-color: $gf;
}

.footer-left {
	display: inline-block;
	float: left;
	margin:1em;
	font-size: 1.5em;
	color: #EEE;
	line-height: 1em;
	font-family: $footer-font-family;
	text-shadow: 1px 1px 0 #111; 
}

.footer-right {
	display: inline-block;
	float: right;
	margin: 1.5em;
	width: 237px;
	height: 50px;
	background: $footer-image;
}

.footer-copyright {
	/*position: absolute;
	bottom: 1em;*/
	width: 100%;
	clear:both;
	padding-top: 0.4em;
	text-align: center;
	font-size: 0.75em;
	color: $footer-copy-colour;
	line-height: 1em;
	z-index: 1;
}

$data_entry_deleteImage: transparent url('../images/DeleteRed.png') no-repeat top right;
$data_entry_imageSize: 1em;
$data_entry_imageMargin: 5px;
data_entry legend {
	margin-top: -14px;
	margin-bottom: -16px;
	color: $home-legend-color;
	@include text-shadow(1px 1px 1px rgba(0, 0, 0, 0.15));
}

data_entry fieldset {
	background-color: $home-fieldset-background;
	height: $home-fieldset-height;
	@include box-shadow( 0 2px 4px rgba(0, 0, 0, 0.15));
	@include background(linear-gradient(to bottom, $home-fieldset-background 10%, lighten($home-fieldset-background, 4%) 100%));
	height: 43em;
}

data_entry .delete_this {
	background: $data_entry_deleteImage;
	display: none;
	margin-top: $data_entry_imageMargin;
	float: right;
	height: $data_entry_imageSize;
	width: $data_entry_imageSize;
}

#file_selector {
@include transparent;
margin-left: 4.75em;
position: relative;
z-index:2;
}

#link_index {
z-index:0;
}

#select_file {
position: absolute;
top: 15em;
left: 39em;
}

drag_and_drop li {
	cursor: move;
}

#sortable-deleted {
height: 41px;
overflow: hidden;
background: url('../images/bin.png') 0 50% no-repeat;

}
#poof {
	background: transparent url(../images/poofing.png) 0 0 no-repeat;
	position: absolute;
	z-index: 2000;
	cursor: pointer;
	display: none;
	height: 32px;
	width: 32px;
}

#sidepanel {
	position: absolute;
	display:none;
	padding: 0.24em;
	width: 20em;
	height: 10em;
	background: $stored-barcode-background;
	@include box-shadow( 0 2px 4px rgba(0, 0, 0, 0.15));
	border: 1px solid #CCC;
	right: 150px;
	bottom:190px;
	z-index: 999;
}

#sidepanelIcon {
position:absolute;
background: transparent url(../images/scanIconGray.png) no-repeat 0 0;
height: 100px;
width: 100px;
right: 0px;
bottom: 170px;
}

#logoffIcon {
position:absolute;
cursor: pointer;
background: transparent url(../images/logoff.png) no-repeat 0 0;
width: 40px;
height: 40px;
right: 10px;
top: 10px;
}

#sampleList {
	width: 150%;
	background-color: $sample-background;
	border: 1px solid #aaa;
}

.box-cell-empty, .box-cell-full {
width:1.25em;
 font-size:1em;
 line-height: 0.75em; 
 float:left;
 margin:0 2px; 
 padding: 0.5em 0.25em 0.5em 0.25em; 

}

.box-cell-empty {
 background-color: #ddd;
 @include box-shadow( inset 2px 2px 3px rgba(0, 0, 0, 0.5));
}

.box-cell-full {
	 background-color: #fff;
	 @include box-shadow( inset -1px -1px 2px rgba(0, 0, 0, 0.35));
}

list-content #content-container {
	padding: 0 0 0 3em;
}
list-content #content, #content-header, #content-del {
	display: inline-block;
	font-size: 1em;
	width:8em;
	vertical-align: top;
}

list-content #content-del {
	width: 1em;
}

list-content #content-header {
	font-weight: bold;
	color: #0a4a92;
}

$audit-bg: #efefef;
$audit-even-colour: #bedcdb;
$audit-odd-colour: #a8d0cf;
$audit-field-colour: #3A6774;
$audit-border: 1px solid #ddd;
$audit-height: 42em;

audit #filter {
	margin: 1px;
	padding: 0.4em;
	background-color: $audit-bg;
	border: $audit-border;
	float: left;
	height: $audit-height;
	@include border-radius(4px);
}

audit #main_display {
	overflow-y: scroll;
	margin: 1px;
	float: left;
	height: $audit-height;
	padding: 0.4em;
	background-color: $audit-bg;
}

audit #row-even, #row-odd {
	overflow-y: hidden;
	margin: 2px;
	width: 99%;
	background-color: $audit-even-colour;
	padding: 3px;
	font-size: 0.75em;
}

audit #row-odd {
	background-color: $audit-odd-colour;
}

audit #field-display {
	line-height: 1.5em;
	float:left;
	padding: 3px;
	color: $audit-field-colour;
}

audit #value-display {
	font-style: italic;
	color: #666;
	
}

audit #spacer {
	line-height: 1.5em;
	float: left;
	width: 4em;
}

audit #filter-title {
	line-height: 1.5em;
	text-align: center;
	font-size: 1.25em;
	font-family: "verdana";
}

$front-page-textBG: #F0F0F0;
front_page #picture-wrapper {
	width: 1200px;
	overflow: hidden;
	height: 37.5em;
	margin-bottom: 1em;
}
front_page #picture-background1 {
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 35.5em;
	background: transparent url(../images/sampleTrack1.jpg) no-repeat 0 0;
	padding: 1em;
}

front_page #picture-background2 {
	position: absolute;
	left: 1300px;
	top: 0;
	width: 100%;
	height: 35.5em;
	background: transparent url(../images/sampleTrack2.jpg) no-repeat 0 0;
	padding: 1em;
	display: none;
}

front_page #picture-background3 {
	position: absolute;
	left: 2600px;
	top: 0;
	width: 100%;
	height: 35.5em;
	background: transparent url(../images/sampleTrack3.jpg) no-repeat 0 0;
	padding: 1em;
	display: none;
}

front_page #text-holder {
	position: relative;
	opacity: 0.7;
	background-color: $front-page-textBG;
	padding: 1em;
	margin:  0 5em;
}

front_page #image-holder {
	position: absolute;
	float: left;
	width: 250px;
	height: 160px;
	left: 8em;
	z-index: 200;
}

front_page #text-display{
	opacity: 1;
	color: #000;
}

front_page #leftArrow {
	position:absolute;
	background: transparent url(../images/leftArrow.png) no-repeat 0 0;
	top: 20em;
	left: 2em;
	height: 2.3em;
	width: 2.3em;
	@include box-shadow( inset -1px -1px 2px rgba(0, 0, 0, 0.35));
}

front_page #rightArrow {
		position: absolute;
		background: transparent url(../images/rightArrow.png) no-repeat 0 0;
		top: 20em;
		right: 1.5em;
		height: 2.3em;
		width: 2.3em;
		@include box-shadow( inset -1px -1px 2px rgba(0, 0, 0, 0.35));
}

front_page #rightArrow:hover {
		cursor: pointer;
		@include box-shadow( inset 1px 1px 2px rgba(0, 0, 0, 0.35));
		top: 20.1em;
		right: 1.4em;
}
front_page #leftArrow:hover {
		cursor: pointer;
		@include box-shadow( inset 1px 1px 2px rgba(0, 0, 0, 0.35));
		top: 20.1em;
		left: 2.1em;
}